// Основные цвета
$firstly-accent-color: #b3ff3b;
$secondary-accent-color: #6952eb;
$firstly-main-color: #252736;
$secondary-main-color: #fff;
$additional-color: #8c8c8c;
$stroke-color: #2784eb;

// Шрифт
$font-family: "Roboto", sans-serif;
