.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .modalContent {
    background-color: white;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    position: relative;

    .closeButton {
      position: absolute;
      top: 5px;
      right: 20px;
      width: 30px;
      height: 30px;
      background-color: #ff4d4d;
      color: white;
      border: none;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #c62828;
      }
    }

    h2,
    h3 {
      margin-top: 5px;
      text-align: left;
      font-weight: 400;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-size: 14px;
    }

    select {
      width: 100%;
      font-size: 16px;
    }

    button {
      width: 100%;
      margin-top: 10px;
      transition: background-color 0.3s ease;
    }

    .widgetInfo {
      margin-top: 15px;

      p {
        margin: 5px 0;
      }
    }
  }
}
