/* Глобальные переменные */
@use "../../../../shared/components/styles/variables.scss" as *;

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: $secondary-main-color;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 992px) {
    flex-direction: column;
    justify-content: center;
  }
}

.gradient {
  height: 100vh;
  background-image: url("../../assets/auth-banner.png");
  background-size: cover;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 40px;
  width: 800px;

  h1 {
    color: $secondary-main-color;
    margin-bottom: 40px;
  }

  @media (max-width: 992px) {
    display: none;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url("../../assets/auth-banner@2x.png");
    background-size: cover;
  }
}

.authContainer {
  max-width: 100%;
  min-width: calc(100% - 528px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: $secondary-main-color;

  @media (max-width: 992px) {
    min-width: auto;
    width: 100%;
  }
}

.registrationTitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 32px;
  text-align: left;

  @media (max-width: 2560px) {
    font-size: 36px;
  }
  @media (max-width: 1920px) {
    font-size: 32px;
  }
  @media (max-width: 1200px) {
    font-size: 28px;
  }
  @media (max-width: 992px) {
    font-size: 24px;
  }
}

.inputWrapper {
  margin-bottom: 12px;
}

.customButtom {
  width: 300px;
  height: 40px;
  margin-top: 20px;

  @media (max-width: 2560px) {
    height: 65px;
    width: 500px;
  }
  @media (max-width: 1920px) {
    height: 50px;
    width: 400px;
  }
  @media (max-width: 1200px) {
    height: 45px;
    width: 400px;
  }
  @media (max-width: 576px) {
    height: 40px;
    max-width: 300px;
  }
}

.socialLogin {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1600px) {
    margin-top: 40px;
  }
}

.orTextContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.line {
  width: 113px;
  height: 1px;
  background-color: #8c8c8c;
  flex-shrink: 0;

  @media (min-width: 1440px) {
    width: 150px;
  }
  @media (max-width: 1920px) {
    width: 100px;
  }
  @media (max-width: 1200px) {
    width: 100px;
  }
  @media (max-width: 992px) {
    width: 70px;
  }
  @media (max-width: 768px) {
    width: 100px;
  }
  @media (max-width: 576px) {
    width: 60px;
  }
}

.orText {
  font-size: 16px;
  color: #8c8c8c;
  white-space: nowrap;

  @media (min-width: 1600px) {
    font-size: 24px;
  }
  @media (max-width: 992px) {
    font-size: 20px;
  }
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.iconContainer {
  display: flex;
  gap: 23px;

  @media (max-width: 768px) {
    gap: 16px;
  }
  @media (max-width: 576px) {
    gap: 12px;
  }
  @media (max-width: 376px) {
    gap: 8px;
  }
}

.forgotPassword {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  font-size: 16px;
  color: #8c8c8c;

  @media (min-width: 1600px) {
    font-size: 24px;
  }
  @media (max-width: 992px) {
    font-size: 20px;
  }
  @media (max-width: 768px) {
    font-size: 16px;
  }

  a {
    color: blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.error {
  color: red;
  font-size: 24px;
  margin-top: 3px;
  text-align: left;

  @media (max-width: 2560px) {
    font-size: 24px;
  }
  @media (max-width: 1920px) {
    font-size: 14px;
  }
}

.languageSelector {
  display: flex;
  justify-content: right;
  margin-bottom: 30px;
  select {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    color: rgb(95, 95, 95);
  }

  .arrow {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 8px;
    color: #424242;
  }
}

.mobileLoginButton {
  margin-top: 20px;
  width: 300px;
  height: 40px;

  @media (max-width: 2560px) {
    height: 65px;
    width: 500px;
  }
  @media (max-width: 1920px) {
    height: 50px;
    width: 400px;
  }
  @media (max-width: 1200px) {
    height: 45px;
    width: 400px;
  }
  @media (max-width: 576px) {
    height: 40px;
    max-width: 300px;
  }
}
