/* Глобальные переменные */
@use "../../../../shared/components/styles/variables.scss" as *;

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.gradient {
  width: 528px;
  height: 100vh;
  background-image: url("../../assets/auth-banner.png");
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 40px;

  h1 {
    color: $secondary-main-color;
    margin-bottom: 40px;
  }
}

.authContainer {
  max-width: 100%;
  min-width: calc(100% - 528px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
}

.registrationTitle {
  margin-bottom: 22px;
  font-size: 32px;
  text-align: left;
}

.inputWrapper {
  width: 300px;
  margin-bottom: 16px;
}

.checkboxWrapper {
  margin-top: 16px;
  margin-bottom: 16px;
}

.customButtom {
  width: 300px;
  height: 44px;
  margin-top: 20px;
}

.socialLogin {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orTextContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.line {
  width: 113px;
  height: 1px;
  background-color: #8c8c8c;
  flex-shrink: 0;
}

.orText {
  font-size: 20px;
  color: #8c8c8c;
  white-space: nowrap;
}

.iconContainer {
  display: flex;
  gap: 23px;
  margin-top: 20px;
}

.forgotPassword {
  margin-top: 80px;
  display: flex;
  gap: 10px;
  font-size: 20px;
  color: #8c8c8c;

  a {
    color: blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 4px;
  text-align: left;
}
