.container {
  max-width: 700px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formWrapper {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;

  h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
  }
}

.buttonGroup {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.buttonGroup > button {
  flex: 1;
  font-size: 14px;
  padding: 10px;
}

.apiKeyCard {
  text-align: center;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .spanContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    text-align: left;
  }

  .apiKey {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;

    span {
      font-family: monospace;
      background-color: #f0f0f0;
      padding: 10px;
      border-radius: 4px;
    }
  }
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 3px;
  margin-left: 0;
  line-height: 1.2;
}
