.header {
  height: 108px;
  background-color: #6952eb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 24px;
}

.logo img {
  height: 40px;
}
