.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 90px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  @media (min-width: 2560px) {
    font-size: 20px;
  }
  @media (min-width: 1920px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) {
    font-size: 17px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.primary {
  background-color: #6952eb;
  border: none;

  &:hover {
    background-color: #563da7;
  }
}

.secondary {
  background-color: #b3ff3b;
  color: #000;

  &:hover {
    background-color: #87bd30;
  }
}

.small {
  padding: 8px 16px;
  font-size: 14px;

  @media (min-width: 2560px) {
    padding: 12px 20px;
    font-size: 18px;
  }
  @media (min-width: 1920px) {
    padding: 10px 18px;
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    padding: 9px 16px;
    font-size: 15px;
  }
}

.medium {
  padding: 10px 15px;
  font-size: 20px;

  @media (min-width: 2560px) {
    padding: 16px 28px;
    font-size: 24px;
  }
  @media (min-width: 1920px) {
    padding: 14px 24px;
    font-size: 20px;
  }
  @media (min-width: 1200px) {
    padding: 12px 18px;
    font-size: 18px;
  }
}

.large {
  padding: 18px 36px;
  font-size: 18px;

  @media (min-width: 2560px) {
    padding: 24px 48px;
    font-size: 22px;
  }
  @media (min-width: 1920px) {
    padding: 22px 44px;
    font-size: 20px;
  }
  @media (min-width: 1200px) {
    padding: 20px 40px;
    font-size: 19px;
  }
}

.gray {
  color: #000;
  background-color: #8c8c8c;
}

.gray.small {
  padding: 8px 16px;
  font-size: 14px;
}

.gray.medium {
  padding: 10px 15px;
  font-size: 16px;
}

.gray.large {
  padding: 18px 36px;
  font-size: 18px;
}
